@import '../../styles/base';

.header-navigation {
  background-color: white !important;
  margin: 0 !important;
}

.header-link {
  color: $accent3Grey !important;
  font-weight: 700;
}

.header-link:hover {
  border-bottom: 4px solid $primaryIndigo;
}

.header-link__active {
  color: $primaryIndigo !important;
  text-decoration: none;
}

.header-button {
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 32px !important;
  color: $primaryIndigo !important;
  border: 1px solid $primaryIndigo !important;
  border-radius: 2px !important;
}

.header-button:hover {
  color: white !important;
  background-color: $primaryIndigo !important;
}

.header-logo {
  height: 58px;
  width: auto !important;
}

.header-avatar {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 50%
}

.header-avatar__menu {
  width: 250px;
}

.header-icons {
  color: $accent3Grey !important;
}

.header-search__bar {
  position: relative;
  padding: 0 15px 0 0 !important;
}

.header-drawer__logo {
  margin: 0 5% 0 0;
  height: 100px !important;
  width: 225px !important;
}

.mdl-layout__drawer-button {
  color: #757575 !important;
}

@media only screen and (min-width: 960px) {
  .mdl-layout__drawer-button {
    display: none !important;
  }
}
