:global {
  @import 'base';
  @import '~normalize.css/normalize';


  // Some best-practice CSS
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
